<div>
    <h1 class="text-center">Login</h1>
    <form id="loginForm" class="mt-4 container-md">
        <div class="mb-3">
            <label class="form-label">Correo Electrónico:</label>
            <input 
                name="email"
                type="email" 
                class="form-control"
                placeholder="Ingrese su correo electrónico">
            <br/>
            <label>Contraseña</label>
            <input name="password">
        </div>
        {{!-- <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit"> --}}
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
